body {
  color: #52ab98;
  background-color: #c8d8e4;
  text-align: center;
}

img {
  width: 80%;
  border-radius: 12px;
}
#crypto {
  background-color: #2b6777;
  border-radius: 12px;
  width: 80vw;
  margin: auto;
  transition: width 0.4s;
}
#crypto:hover {
  width: 85vw;
}

#coolab {
  background-color: #2b6777;
  border-radius: 12px;
  width: 80vw;
  margin: auto;
  transition: width 0.4s;
}
#coolab:hover {
  width: 85vw;
}

#somm {
  background-color: #2b6777;
  border-radius: 12px;
  width: 80vw;
  margin: auto;
  transition: width 0.4s;
}
#somm:hover {
  width: 85vw;
}
#overview {
  text-align: center;
}
#overview:hover {
  visibility: visible;
}

#footer {
  width: 25vw;
  margin: auto;
  display: block;
}
.crypto:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0;
}
body {
  background-color: #fcf8e1;
}
